# Files created by editing, developing, running tests, building docs
.DS_Store
.*.swp
*~
*.egg-info
*.pyc
__pycache__
.eggs
.cache
.coverage*
.pytest_cache
celerybeat-schedule.*
build
_build
.vscode
.ipynb_checkpoints
.venv
# Bilby checkpoints
lecture_3/linear_regression/
lecture_3/logs/
